# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
# don't lint nyc coverage output
coverage
.eslintrc.js
tsconfig.json
webpack.config.js
src/NFA.js
src/parse.js
src/RegExp.js
src/visualize.js